.home-page-container {
    display: flex;
    background-color: rgb(0, 0, 0);
  }
  
  .home-page-content {
    margin-left: 350px;
    padding: 15px;
    margin-top: 41px;
    color: #fff;

  }

  tags{
    margin-top: 20px;
    margin-left: 20px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
  }
  
  ul {
    margin-left: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
  
    &:hover {
      text-decoration: underline;
    }
  }
  
  .github-icon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
    font-size: 0.7em;
  }
  

  .hover-text {
    /* styles for the text when not hovered over */
    font-size: 16px;
    color: rgb(255, 255, 255);
  }
  
  .hover-text:hover {
    /* styles for the text when hovered over */
    font-size: 20px;
    color: rgb(0, 0, 0);
  }

  .home-page-content-tab{
    margin-left: -292px;
    padding: 15px;
    margin-top: 41px;
    color: #fff;
  }