.home-page-container {
    display: flex;
    background-color: rgb(0, 0, 0);
  }
  
  .home-page-content {
    margin-left: 350px;
    padding: 15px;
    margin-top: 41px;
    color: #fff;

  }

  tags{
    margin-top: 20px;
    margin-left: 20px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
  }
  
  ul {
    margin-left: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
  
    &:hover {
      text-decoration: underline;
    }
  }
  
  .github-icon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
    font-size: 0.7em;
    transition: all 0.2s ease;
    
    
  }

  .github-icon:hover {
    /* change some styles when the cursor is hovering over the icon */
    transform: rotate(360deg); /* rotation animation */
    filter: brightness(1.5); /* increase the brightness of icon */
    color: #28a4d9;
    transform-style: flat;
    
}



  .hover-text {
    /* styles for the text when not hovered over */
    font-size: 16px;
    color: rgb(255, 255, 255);
  }
  
  .hover-text:hover {
    /* styles for the text when hovered over */
    font-size: 20px;
    color: rgb(0, 0, 0);
  }

  .home-page-content-tab{
    padding: 15px;
    margin-top: 41px;
    color: rgb(227, 107, 8);

  }

  .orange-text {
    color: rgb(33, 116, 184);
  }

  .orange-text:hover {
    color: rgb(228, 174, 14);
    text-decoration: none;
  }

  .bullet-points {
    list-style: disc;
    color: #fff;
  }
  

  .stage-cube-cont {
    width: 50%;
    height: 100%;
    top: 0;
    padding-top: 18%;
    margin-left: 0;
    position: absolute;
    right: 0;
    overflow: hidden;
    margin-top: 100px;
  }
  
  .cubespinner {
    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    margin-left: calc(50% - 100px);
  
    div {
      position: absolute;
      width: 200px;
      height: 200px;
      border: 1px solid #ccc;
      background: rgba(255, 255, 255, 0.4);
      text-align: center;
      font-size: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 20px 0px lightyellow;
    }
  
    .face1 {
      transform: translateZ(100px);
      color: #dd0031;
    }
    .face2 {
      transform: rotateY(90deg) translateZ(100px);
      color: #f06529;
    }
    .face3 {
      transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
      color: #28a4d9;
    }
    .face4 {
      transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
      color: #5ed4f4;
    }
    .face5 {
      transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
      color: #efd81d;
    }
    .face6 {
      transform: rotateX(-90deg) translateZ(100px);
      color: #ec4d28;
    }
  }
  
  @keyframes spincube {
    from,
    to {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
      transform: rotateY(-90deg) rotateZ(90deg);
    }
    33% {
      transform: rotateY(-90deg) rotateX(90deg);
    }
    50% {
      transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
      transform: rotateY(-270deg) rotateX(90deg);
    }
    83% {
      transform: rotateX(90deg);
    }
  }